<?xml version="1.0"?>
<Config>
  <General>
    <Port>3333</Port>
    <DmPass>default_dm_pass</DmPass>
    <AutoShutdown>No</AutoShutdown>
    <CharCreationDisabled>No</CharCreationDisabled>
    <CheckDouble>Yes</CheckDouble>
    <ConjureDisabled>No</ConjureDisabled>
    <FreebroadEnabled>No</FreebroadEnabled>
    <QuestModeEnabled>No</QuestModeEnabled>
    <GetHostByName>Yes</GetHostByName>
    <LessExpLoss>Yes</LessExpLoss>
    <LogDeath>Yes</LogDeath>
    <NiceExp>Yes</NiceExp>
    <PkillInCombatDisabled>Yes</PkillInCombatDisabled>
    <RecordAll>No</RecordAll>
    <LogSuicide>Yes</LogSuicide>
    <SaveOnDrop>Yes</SaveOnDrop>
    <MaxGuild>32</MaxGuild>
  </General>
  <Lottery>
    <CurrentCycle>258</CurrentCycle>
    <CurrentJackpot>3000000</CurrentJackpot>
    <Enabled>Yes</Enabled>
    <TicketPrice>500</TicketPrice>
    <TicketsSold>0</TicketsSold>
    <LotteryWon>No</LotteryWon>
    <WinningsThisCycle>0</WinningsThisCycle>
    <LotteryRunTime>1209952800</LotteryRunTime>
    <WinningNumbers>
      <LotteryNum Num="0">4</LotteryNum>
      <LotteryNum Num="1">6</LotteryNum>
      <LotteryNum Num="2">8</LotteryNum>
      <LotteryNum Num="3">14</LotteryNum>
      <LotteryNum Num="4">18</LotteryNum>
      <LotteryNum Num="5">20</LotteryNum>
    </WinningNumbers>
    <Tickets/>
  </Lottery>
</Config>
